* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  @font-face {
    font-family: Sedgwick;
    src: url(../fonts/SedgwickAveDisplay-Regular.ttf);
  }
  
  .box img{
    height: 10vh;
    margin-left: 25%;
  }
  
  header{
    display: grid;
    grid-template-columns: 20fr 100fr;
    height: 10vh;
  }

  .box .box_der{
    align-content: center;
  }
  
  navbar {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: end;
    /* background-color: lightskyblue;
    border: 5px solid black; */
  }
  
  navbar li {
    list-style: none;
    display: inline;
    padding: 10px;
    
  }
  
  navbar a {
    text-decoration: none;
    color: #CAC9C9;
    font-family: Sedgwick;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: #5E5C5D;
  
  
  }
  
  #portada {
    margin: 50px auto;
    width: auto;
    margin: 20px auto;
    /* background-color: blueviolet; */
  }
  
  #portada img {
    width: 100%;
    margin: 0;
  }
  
  
  h1 {
    font-family: Sedgwick;
    text-align: center;
    }
  
  
  
  .bloque1 .img_ropa img {
    height: 300px;
  }
  
  .bloque1 {
    display: flex;
    justify-content: center;
    column-gap: 5%;
    /* background-color: blueviolet; */
    margin-top: 5%;
    flex-wrap: wrap;
  }
  
  
  .img_ropa * {
    display: block;
    text-align: center;
    font-family: Sedgwick;
  }
  
  footer {
    height: 15vh;
    background-color: grey;
    margin-top: 100px;
  }
  
  
  