* {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@font-face {
  font-family: Sedgwick;
  src: url(../fonts/SedgwickAveDisplay-Regular.ttf);
}

/* Style header - navbar */

p {
  font-family: sedgwick;
  text-align: center;
}

.box_izq img {
  height: 10vh;
}

#header {
  display: flex;
  background-color: white;
  border: 1px solid;
}

.box_izq {
  align-content: center;
  border: 1px solid;
}

.box_der {
  display: flex;
  border: 1px solid;
  width: 94vw;
  justify-content: right;
  align-items: center;
}

navbar li {
  list-style: none;
  display: inline;
  margin: 1vw;
}

navbar a {
  color: #cac9c9;
  font-family: Sedgwick;
  border: 1px solid black;
  border-radius: 5px;
  padding: 5px;
  background-color: #5e5c5d;
  text-decoration: none;
}

navbar a:hover {
  background-color: #ddd;
  color: black;
}

/* sticky le da estilo a chombas, contacto, index, jogging, remeras, ubicacion */
.sticky {
  position: fixed;
  top: 0;
}

/* Responsive  para iphone 12/13 Pro Max 428x996*/

@media screen and (max-width: 428px) {
  #header {
    display: flex;
    background-color: white;
    border: 1px solid;
  }

  .box_izq {
    align-content: center;
    border: 1px solid;
    /* height: 5vh; */
  }

  .box_izq img {
    height: 8vh;
  }

  .box_der {
    display: flex;
    border: 1px solid;
    width: 80vw;
    justify-content: center;
    align-items: center;
  }

  navbar li {
    list-style: none;
    display: inline;
    margin: 0px;
  }

  navbar a {
    color: #cac9c9;
    font-family: Sedgwick;
    border: 1px solid black;
    border-radius: 2px;
    padding: 1px;
    background-color: #5e5c5d;
    text-decoration: none;
    font-size: 12px;
  }

  navbar a:hover {
    background-color: #ddd;
    color: black;
  }
  footer .linea2 {
    display: inline;
    margin: 20px;
  }

  footer .linea2 div {
    text-align: center;
    margin: 20px;
  }
  footer .linea2{
    flex-direction: column;
  }
  .contacto{
    font-size: 14px;
    margin: 10px;


  }
  
  
}

/*Responsive para iphone SE 375x667 */

@media screen and (max-width: 375px) {
  navbar a {
    font-size: 10px;
  }
}
/* Style SECTION index */

a {
  text-decoration: none;
}

#contenido {
  padding-top: 30px;
  margin-bottom: 50px;
}

#portada {
  margin: 50px auto;
  width: auto;
  margin: 20px auto;
}

#portada img {
  width: 100%;
  margin: 0;
}

h1 {
  font-family: Sedgwick;
  text-align: center;
}

.bloque1 .img_ropa img {
  height: 300px;
}

.bloque1 {
  display: flex;
  justify-content: center;
  column-gap: 5%;
  /* background-color: blueviolet; */
  margin-top: 5%;
  flex-wrap: wrap;
}

.img_ropa * {
  display: block;
  text-align: center;
  font-family: Sedgwick;
}
/* Style html chombas, remeras y jogging */

p {
  font-family: sedgwick;
  text-align: center;
}

.main {
  display: flex;
  flex-wrap: wrap;
  margin: 15vh;
  justify-content: space-between;
  margin-top: 30vh;
}

.main div img {
  height: 300px;
  border-radius: 8px;
}

/* Style html ubicacion */

.mapa {
  width: 100%;
  height: 100%;
  text-align: center;
}

/* Style footer */

footer {
  padding: 15px 0 15px;
  background-color: grey;
}

footer img {
  height: 6vh;
}

footer .linea1 {
  display: flex;
  justify-content: center;
  padding: 10px 0 10px;
}

footer .linea1 img {
  padding: 0 50px;
}

footer .linea2 {
  display: flex;
  justify-content: space-around;
  padding: 20px 0 10px;
}

.linea1 img {
  transition: all 0.2s ease-in-out;
}

.linea1 img:hover {
  transform: scale(1.5);
}

footer a {
  color: black;
}

.contacto:hover {
  color: mediumspringgreen;
}

.contacto a:hover {
  color: mediumspringgreen;
}

#dolar {
  text-align: center;
}

#clima {
  display: flex;
  flex-direction: column-reverse;
  position: absolute;
  top: 40%;
  left: 0;
}

#clima span {
  margin: 0 auto;
}

@media screen and (max-width: 845px) {
  #clima {
    display: flex;
    flex-direction: row-reverse;
    position: relative;
    margin: auto;
  }
  #clima span {
    margin: auto 0;
    margin-right: 40%;
  }
}
